

body {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 24px;
    background: url('./images/background.jpg')
}

h1 {
    margin-top: 50px;
}

button {
    padding: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    background-color: #c76c3f;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

button:hover {
    background-color: #4f200f;
}


#score {
    display: flex;
    justify-content: space-evenly;
}